* {
    margin: 0;
    padding: 0;
}

.gameboard {
	width: 206px;
	height: 206px;
	display: flex;
	flex-wrap: wrap;
    border-style: solid;
    background-color: white;
}

.gameboard div {
	width: 20px;
	height: 20px;
}

.snake {
	background-color: rgb(33, 145, 5);
}

.apple {
	background-color: rgb(182, 13, 13);
}

body, a {
	color: rgb(245, 236, 160);
	background-color: rgb(15, 15, 15);
}

a:focus, a:hover, .btn:hover {
	background-color: rgb(245, 236, 160);
	color: rgb(15, 15, 15);
	font-weight: bold;
}

.btn {
	border: 1px solid rgb(245, 236, 160);
	color: rgb(245, 236, 160);
	background-color: rgb(15, 15, 15);
	margin-bottom: 10px;
}

h1 {
    font-size: 5em;
    border-bottom: 3px dashed;
}

h4 {
    padding: 2px 10px 7px 10px;
    border-bottom: 1px dashed;
}

.leaderboard>p {
    padding: 3px 10px;
}

.leaderboard {
    display: inline-block;
    margin: 10px 0 20px 0;
    border: 2px dashed;
}

.score {
    display: inline-block;
    padding: 3px 10px;
    margin: 10px 0 20px 0;
    border: 2px dashed;
}