<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>WttA Snake</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		{% load static %}
		<link rel="stylesheet" href="{% static 'css/snake.css'%} " />
		<script src="{% static 'js/snake.js' %}"></script>
	</head>
	<body>
        <div id="overlay">
            <div id="overlay-text">Game Over </div>
            <form action="{% url 'games:add_score' 'snake' %}" id="submit-score" method="post">
                {% csrf_token %}
                <input type="hidden" id="input-score" name="score" value="" />
                <!-- <input type="hidden" name="game" value="snake" /> -->
            </form>
        </div>

		<nav class="navbar">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{% url 'arcade:dashboard' logged_player.id %}"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a>
					</li>
					<li>
						<a href="{% url 'arcade:arcade' %}"><span class="glyphicon glyphicon-knight"></span> Arcade</a>
					</li>
					<li>
						<a href="{% url 'arcade:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
					</li>
				</ul>
			</div>
		</nav>

		<header>
			<h1 class="text-center">Snake</h1>
		</header>

        <div class="col-md-3 col-sm-1"></div>
        <div class="col-md-4 col-sm-5">
            <button class="btn">Start/Restart</button>
            <div class="gameboard">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
			</div>
            <div class="score">Score:<span id="score">0</span></div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="leaderboard">
                <h4>Leaderboard</h4>
				<p>{{snake_scores.0.player.all.0.username}} : {{ snake_scores.0.score }}</p>
				<p>{{snake_scores.1.player.all.0.username}} : {{ snake_scores.1.score }}</p>
				<p>{{snake_scores.2.player.all.0.username}} : {{ snake_scores.2.score }}</p>
				<p>{{snake_scores.3.player.all.0.username}} : {{ snake_scores.3.score }}</p>
                <p>{{snake_scores.4.player.all.0.username}} : {{ snake_scores.4.score }}</p>
            </div>
        </div>

	</body>
</html>
