<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style_arcade.css' %} " />
	</head>
	<body>

		<nav class="navbar">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'arcade:dashboard' player.id %}"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a></li>
					<li><a href="{% url 'arcade:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</nav>

		<header>
			<h1 class="col-md-12 text-center">The Arcade</h1>
		</header>

		<main class="text-center">
			<div class="col-sm-6 col-md-4">
				<p><a class="btn " href="{% url 'games:snake' %}" role="button">Snake</a></p>
				<div>
				<div class="game">
					<h4>Leaderboard</h4>
					<p>{top score1}</p>
					<p>{top score2}</p>
					<p>{top score3}</p>
				</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<p><a class="btn" href="{#games:pacman#}" role="button">PacMan</a></p>
				<div>
				<div class="game">
					<h4>Leaderboard</h4>
					<p>{top score1}</p>
					<p>{top score2}</p>
					<p>{top score3}</p>
				</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<p><a class="btn" href="{#games:tetris#}" role="button">Tetris</a></p>
				<div>
				<div class="game">
					<h4>Leaderboard</h4>
					<p>{top score1}</p>
					<p>{top score2}</p>
					<p>{top score3}</p>
				</div>
				</div>
			</div>
		</main>

	</body>
</html>
