<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style_dashboard.css' %} " />
	</head>
	<body>

	<nav class="navbar">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/arcade"><span class="glyphicon glyphicon-knight"></span> Arcade</a></li>
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</nav>

		<header>
			<h1 class="text-center">Welcome, {{player.username}}!</h1>
		</header>

		<main>
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<h2>Scoreboard</h2>
				<p>{game1 : top score}</p>
				<p>{game2 : top score}</p>
				<p>{game3 : top score}</p>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<h2>Friends</h2>
				<p>{friend1}</p>
				<p>{friend2}</p>
				<p>{friend3}</p>
				<a href="/arcade/add_friend"><button class="btn">Add to Friends</button></a>
			</div>
			<div class="col-md-1"></div>
		</main>

	</body>
</html>
