<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style_dashboard.css' %} " />
	</head>
	<body>

	<nav class="navbar">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-right">
					{% if logged_player != player %}
					<li><a href="{% url 'arcade:dashboard' logged_player.id %}"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a></li>
					{% endif %}
					<li><a href="{% url 'arcade:arcade' %}"><span class="glyphicon glyphicon-knight"></span> Arcade</a></li>
					<li><a href="{% url 'arcade:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</nav>

		<header>
			<h1 class="text-center">{% if logged_player == player %}Welcome, {% endif %}{{player.username}}{% if logged_player == player %}!{% endif %}</h1>
		</header>

		<main>
			<div class="col-md-1 col-sm-1"></div>
			<div class="col-md-4 col-sm-5 text-center">
				<h2>Scoreboard</h2>
				<p>{Snake : 680}</p>
				<p>{PacMan : 350}</p>
				<p>{Tetris : 790}</p>
			</div>
			<div class="col-md-2 col-sm-0"></div>
			<div class="col-md-4 col-sm-5 text-center">
				<h2>Friends</h2>
				{% if logged_player != player and not logged_player in player.friends.all %}
				<a href="{% url 'arcade:add_friend' player.id %}"><button class="btn">Add to Friends</button></a>
				{% elif logged_player != player and logged_player in player.friends.all  %}
				<a href="{% url 'arcade:remove_friend' player.id %}"><button class="btn">Remove from Friends</button></a>
				{% endif %}
				{% if  logged_player != player %}
				{% for friend in friends %}
				<p><a href="{% url 'arcade:dashboard' friend.id %}">{{friend.username}}</a></p>
				{% endfor %}
				{% endif %}
				{% if logged_player == player %}
				{% for friend in my_friends %}
				<p><a href="{% url 'arcade:dashboard' friend.id %}">{{friend.username}}</a></p>
				{% endfor %}
				{% endif %}
			</div>
			<div class="col-md-1 col-sm-1"></div>
		</main>

	</body>
</html>
