<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style_snake.css'%} " />
		<script src="{% static 'js/script_snake.js' %}"></script>
	</head>
	<body>

	<nav class="navbar">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-right">
					<a href="{% url 'arcade:dashboard' %}"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a>
					<li><a href="{% url 'arcade:arcade' %}"><span class="glyphicon glyphicon-knight"></span> Arcade</a></li>
					<li><a href="{% url 'arcade:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</nav>

		<header>
                <h1>{Game name}</h1>
		</header>

		<main>
			<div class="game">
                <p>Snake</p>
                <button>Start</button>
                <button>Next level</button>
                <button>Add Score and Exit</button>
				<p>{the game}</p>
				<p>{score}</p>
			</div>
			<div class="leaderboard">
				<p>{leaderboard}</p>
				<p>{top score1}</p>
				<p>{top score2}</p>
				<p>{top score3}</p>
				<p>{top score4}</p>
				<p>{top score5}</p>
			</div>
        </main>

	</body>
</html>
