<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>WttA</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css' %} " />
	</head>
	<body>

		<nav class="navbar">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Register <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<div class="form-group">
								<div id="reg_messages">
									{% if messages %}
										<ul class="messages">
											{% for message in messages %}
											<li {% if message.tags%} class="{{messages.tags}}"{% endif %}>{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}{{message}}{% endif %}</li>
											{% endfor %}
										</ul>
										{% endif %}
									</div>
								<form action="{% url 'arcade:register' %}" method="post" id="register">
									{% csrf_token %}
								<div class="form-group">
									<label for="username">Username:</label>
									<input type="text" class="form-control" name="username" id="username">
								</div>
								<div class="form-group">
									<label for="email">Email:</label>
									<input type="email" class="form-control" name="email" id="email">
								</div>
								<div class="form-group">
									<label for="pwd">Password:</label>
									<input type="password" class="form-control" name="password" id="pwd">
								</div>
								<div class="form-group">
									<label for="pass_confirm">Password Confirm:</label>
									<input type="password" class="form-control" name="pass_confirm" id="pass_confirm">
								</div>
								<button type="submit" class="btn btn-default">Register</button>
								</form>
							</div>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"
							><span class="glyphicon glyphicon-log-in"></span> Login <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<div class="form-group">
								<div id="log_messages">
									{% if messages %}
									<ul class="messages">
										{% for message in messages %}
										<li {% if message.tags%} class="{{messages.tags}}"{% endif %}>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{{message}}{% endif %}</li>
										{% endfor %}
									</ul>
									{% endif %}
								</div>
								<form action="{% url 'arcade:login' %}" method="post" id="login">
								{% csrf_token %}
								<div class="form-group">
									<label for="email">Email:</label>
									<input type="email" class="form-control" name="email" id="email">
								</div>
								<div class="form-group">
									<label for="pwd">Password:</label>
									<input type="password" class="form-control" name="password" id="pwd">
								</div>
								<button type="submit" class="btn btn-default">Login</button>
								</form>
							</div>
						</ul>
					</li>
				</ul>
			</div>
		</nav>

		<div>
		<div class="col-md-2"></div>
		<h1 class="col-md-8 text-center">Welcome to the Arcade</h1>
		<div class="col-md-2"></div>
		</div>

		<div class="col-md-12">
		<div class="col-md-2"></div>
		<h2 class="col-md-8 text-center">Leaderboards</h2>
		<div class="col-md-2"></div>
		</div>

		<div class="col-md-12 text-center">
			<div class="col-md-4 col-sm-6">
				<div class="leaderboard">
					<h3>Snake</h3>
					{% for game in snake_scores %}
					<p>{{game.player.all.0.username}} : {{ game.score }}</p>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="leaderboard">
					<h3>Pacman</h3>
					{% for game in pacman_scores %}
					<p>{{game.player.all.0.username}} : {{ game.score }}</p>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="leaderboard">
					<h3>Tetris</h3>
					{% for game in tetris_scores %}
					<p>{{game.player.all.0.username}} : {{ game.score }}</p>
					{% endfor %}
				</div>
			</div>
		</div>

	</body>
</html>
